<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.studyexam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TargetActivity"
            android:label="@string/title_activity_target" />
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ThreadActivity"
            android:label="@string/title_activity_thread" />
        <activity
            android:name=".ProgressbarThreadHandlerActivity"
            android:label="@string/title_activity_progressbar_thread_handler" />
        <activity
            android:name=".db.DbActivity"
            android:label="@string/title_activity_db"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:label="@string/title_activity_broadcast" />

        <!-- Global 브로드캐스트 리시버 등록 -->
        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="com.suwonsmartapp.hello.TestBroadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".chat.ClientActivity" />
        <activity android:name=".cal.CalendarActivity" />
        <activity
            android:name=".multimedia.MultimediaActivity"
            android:label="@string/title_activity_multimedia" >
        </activity>
    </application>

</manifest>
